<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>OrMiMu requires microphone access for audio input.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>OrMiMu requires access to the Downloads folder to save files.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>OrMiMu requires access to your Music library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>OrMiMu requires access to your Photo Library for album artwork.</string>
</dict>
</plist>
